body {
    font-family: 'Bebas Neue', sans-serif;
    scroll-behavior: smooth;
}

header {
    background-color: rgb(0, 87, 0);
    display: flex;
}

#p-header {
    color: rgb(251, 253, 97);
    text-align: center;
}

#main {
    background-image: url(/images/pizza-background.jpg);
    background-size: 150%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    width: auto;
}

#block0 {
    display: flex;
    flex: 1;
    background-color: #FFC83C;
}

#block1 {
    display: flex;
    flex: 1;
    background-color: #FF9E2C;
}

#block2 {
    display: flex;
    flex: 1;
    background-color: #FFC83C;
}

#cooking-pizza {
    background-size: contain ;
}

#full-pizza {
    background-size: contain ;
}

#pizza-slice {
    background-size: contain ;
}

.p-block {
    display: flex;
    color: black;
}

.floating-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: rgb(0, 87, 0);
	color: rgb(255, 246, 122);
    padding: 18px 20px;
    border: 3px solid rgb(255, 246, 122);
	border-radius: 50px;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
}

.floating-btn:hover {
	background: rgb(255, 126, 40);
    color: rgb(255, 246, 122);
}

footer {
    display: flex;
    background-color: rgb(0, 87, 0);
    position: sticky;
    flex-direction: column;
    justify-content: center;
}

#p-footer {
    text-align: center;
    color: rgb(251, 253, 97);
}

@media (min-width: 0px) {

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #pizza-logo {
        max-width: 150px;
        max-height: 150px;
        padding: 2%;
    }

    #p-header {
        padding: 3%;
        font-size: 2rem;
        font-weight: 400;
    }
    
    #main {
        height: 2600px;
    }

    #block0 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 750px;
        max-height: 40rem;
        margin: 6%;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
    }

    #cooking-pizza {
        max-width: 85% ;
    }

    #block1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 750px;
        max-height: 50rem;
        margin: 6%;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
    }

    #full-pizza {
        max-width: 85% ;
    }

    #block2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 750px;
        max-height: 51rem;
        margin: 6%;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
}

    #pizza-slice {
        max-width: 85% ;
    }

    .p-block {
        text-align: center;
        font-size: 2rem;
        padding: 5%;
    }

    footer {
        width: auto;
        height: 250px;
    }

    #p-footer {
        font-size: 1.7rem;
        padding: 5%;
    }

}

@media (min-width: 800px) {

    header {
        background-color: rgb(0, 87, 0);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #pizza-logo {
        max-width: 175px;
        max-height: 175px;
    }

    #p-header {
        color: rgb(251, 253, 97);
        padding: 0;
        padding-left: 5%;
        font-size: 50px;
        font-weight: 540;
    }

    #main {
        height: 2500px;
    }

    #block0 {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        max-height: 36rem;
        margin: 6%;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
    }

    #cooking-pizza {
        max-width: 50% ;
    }

    #block1 {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        max-height: 50rem;
        margin: 6%;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
    }

    #full-pizza {
        max-width: 50% ;
        order: 2;
    }

    #left-text {
        order: 1;
    }

    #block2 {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        max-height: 40rem;
        margin: 6%;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
}

    #pizza-slice {
        max-width: 50% ;
    }

    .p-block {
        text-align: center;
        font-size: 2.6rem;
        padding: 3%;
    }

    #p-footer {
        font-size: 2rem;
        padding: 5%;
    }

}

@media (min-width: 1024px) {

    header {
        background-color: rgb(0, 87, 0);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #pizza-logo {
        max-width: 175px;
        max-height: 175px;
    }

    #p-header {
        color: rgb(251, 253, 97);
        padding: 0;
        padding-left: 5%;
        font-size: 50px;
        font-weight: 540;
    }

    #main {
        height: 2600px;
    }

    #block0 {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        max-height: 40rem;
        margin: 8%;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
    }

    #cooking-pizza {
        max-width: 50% ;
    }

    #block1 {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        max-height: 45em;
        margin: 8%;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
    }

    #full-pizza {
        max-width: 50% ;
        order: 2;
    }

    #left-text {
        order: 1;
    }

    #block2 {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        max-height: 40rem;
        margin: 8%;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
}

    #pizza-slice {
        max-width: 50% ;
    }

    .p-block {
        text-align: center;
        font-size: 2.6rem;
        line-height: 50px;
        padding: 5%;
    }

    #p-footer {
        font-size: 2rem;
        padding: 5%;
    }

}