@font-face {
    font-family: 'Bebas Neue';
    src: url ('./fonts/BebasNeue-Regular.ttf') format('truetype');
}

body {
    font-family: 'Bebas Neue', sans-serif;
}

header {
    background-color: rgb(0, 87, 0);
    display: flex;
}

#main {
    background-image: url(/images/pizza-background.jpg);
    background-size: 150%;
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    width: auto;
}

#block1 {
    display: flex;
    flex: 1;
    background-color: #FFC83C;
}

#block2 {
    display: flex;
    flex: 1;
    background-color: #FF9E2C;
}

#full-pizza {
    background-size: contain ;
}

#pizza-slice {
    background-size: contain ;
}

.p-block {
    display: flex;
    color: black;
}

.floating-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: rgb(0, 87, 0);
	color: rgb(255, 246, 122);
    padding: 20px 20px;
	border-radius: 50px;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
}

.floating-btn:hover {
	background: rgb(255, 126, 40);
    color: rgb(255, 246, 122);
}

footer {
    display: flex;
    background-color: rgb(0, 87, 0)
}

#p-footer {
    text-align: center;
    color: rgb(251, 253, 97);
}

@media (min-width: 0px) {

    header {
        flex-direction: column;
        align-items: center;
    }

    #pizza-logo {
        max-width: 150px;
        max-height: 150px;
    }

    #main {
        height: 2000px;
    }

    #p-header {
        color: rgb(251, 253, 97);
        padding: 3%;
        padding-bottom: 6%;
        font-size: 23px;
        font-weight: 540;
        text-align: center;
    }
    
    #block1 {
        flex-direction: column;
        align-items: center;
        max-width: 750px;
        /*max-height: 42%;*/
        max-height: 55rem;
        margin: 6%;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
    }

    #full-pizza {
        max-width: 85% ;
    }

    .p-block {
        text-align: center;
        font-size: 200%;
        padding: 5%;
    }

    #block2 {
        flex-direction: column;
        align-items: center;
        max-width: 750px;
        /*max-height: 42%;*/
        max-height: 53rem;
        margin: 6%;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
}

    #pizza-slice {
        max-width: 85% ;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    #p-footer {
        font-size: 100%;
        padding: 5%;
    }

}

@media (min-width: 800px) {

    header {
        background-color: rgb(0, 87, 0);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #pizza-logo {
        max-width: 175px;
        max-height: 175px;
    }

    #p-header {
        color: rgb(251, 253, 97);
        padding: 0;
        padding-left: 5%;
        font-size: 50px;
        font-weight: 540;
    }

}